@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

html {
    background-color: #FFF8CD;
}

main {
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #FFF8CD;
}